
.Rhistory
.RData
.Rproj.user/
*.Rproj

data/raw/*
!data/raw/.gitkeep
 
data/processed/*.rds

logs/*.log

R/07_table1_demographics.R
results/tables/table1_demographics.csv
results/tables/table1_demographics.docx
results/tables/table1_demographics.html
results/tables/table1b_demographics_metabric.csv

.DS_Store
Thumbs.db
.RDataTmp
